{% extends "layout.html" %} {% block content %}
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr class="titles">
        <th scope="col">Rank</th>
        <th scope="col">Name</th>
        <th scope="col">Lore Name</th>
        <th scope="col">SteamID</th>
        <th scope="col">Elligble</th>
        <th scope="col">Activity</th>
        <th scope="col">Promotion Date</th>
        <th scope="col">Points</th>
        <th scope="col">Recruitments</th>
        <th scope="col">Trainings</th>
        <th scope="col">Event Leads</th>
        <th scope="col">Subdiv/Class Tryouts</th>
        <th scope="col">Overseer</th>
        <th scope="col">Attendance</th>
        <th scope="col">Officer Training</th>
        <th scope="col">Division</th>
        <th scope="col">Comments</th>
        <th scope="col">DiscordID</th>
        <th scope="col">Strikes</th>
      </tr>
    </thead>
    <tbody>
      {% for tag, rank in rank_list %}
        <tr class="rank">
          <th colspan="19">{{ rank }}</th>
        </tr>
        {% for member in ranks[tag] %}
          <tr class="member">
            <th scope="row">{{ tag }}</th>
            <td>{{ member[0][0] }}</td>
            <td>{% if member[0][1] %}{{ member[0][1] }}{% endif %}</td>
            <td>{{ member[0][2] }}</td>
            <td>N/A</td>
            <td>ACTIVITY</td>
            <td>{{ member[2] }}</td>
            <td>{{ member[1] }}</td>
            <td>{{ member[0][4] }}</td>
            <td>{{ member[0][5] }}</td>
            <td>{{ member[0][6] }}</td>
            <td>0</td>
            <td>{{ member[0][7] }}</td>
            <td>{{ member[0][8] }}</td>
            <td>0</td>
            <td>DIVISION</td>
            <td>COMMENT</td>
            <td>{{ member[0][9] }}</td>
            <td>{{ member[0][10] }}</td>
          </tr>
        {% endfor %}
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}