{% extends "layout.html" %} {% block content %}
<div class="jumbotron">
  <div class="bs-component">
    <h1 class="display-4 mt-4">Training</h1>
      <hr class="my-4">
      <div class="container">
        <form action="" method="post">
          <fieldset>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="form-group row", id="desc">
              <h5><label class="col col-form-label" for="desc">Description of Training</label></h5>
              <div class="col">{{ form.description(class="col col-form-label") }}</div>
              {% for error in form.description.errors %} <div class="alert alert-danger">{{ error }}</div> {% endfor %}
            </div>
            <div class="form-group row", id="number">
              <h5><label class="col col-form-label" for="number">Number of Troopers in Attendance</label></h5>
              <div>{{ form.number_in_attendance() }}</div>
              {% for error in form.number_in_attendance.errors %} <div class="alert alert-danger">{{ error }}</div> {% endfor %}
            </div>
          {{ form.submit(class="btn btn-primary btn-sm btn-block")}}
          </fieldset>
        </form>
      </div>
  </div>
</div>
{% endblock %}